@font-face{
  font-family: 'Lepka';
  src: url('./fonts/LEPKA.otf') format('otf');
}

:root {
  font-family: 'Lepka';
  line-height: 1.5;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  background-color: #B0E253;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center; 
  align-items: center;  
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #B0E253;
  }
  button {
    background-color: #f9f9f9;
  }
}
